<form class="userForm">
    <div class="form-group">
        <label for="nome">Nome</label>
        <input [(ngModel)]="userSelected.nome" name="nome" id="nome">
    </div>
    <div class="form-group">
        <label for="cognome">Cognome</label>
        <input name="cognome" id="cognome">
    </div>
    <div class="form-group">
        <label for="cf">CF</label>
        <input name="cf" id="cf">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" id="email">
    </div>
    <div class="form-group">
        <label for="telefono">Telefono</label>
        <input name="telefono" id="telefono">
    </div>
    <div class="form-group">
        <label for="provincia">Provincia</label>
        <input name="provincia" id="provincia">
    </div>
    <div class="form-group">
        <label for="eta">Eta</label>
        <input type="number" name="eta" id="eta">
    </div>
    <div class="form-group">
        <label for="www">www</label>
        <input name="www" id="www">
    </div>
    <div class="form-group form-footer">
        <button class="btn-save">Save</button>
    </div>
</form>