<td>{{user.nome}}</td>
<td>{{user.cognome}}</td>
<td>{{user.mail}}</td>
<td>{{user.telefono}}</td>
<td>{{user.provincia}}</td>
<td><a href='{{user.www}}' target="_blank">{{user.www}}</a></td>

<td class="buttons">
    <div class="row">
        <div class="col-sm-4">
            <button class="btn btn-primary btn-sm" (click)="infoUser()">
                <fa-icon [icon]="['far', 'file-alt']"></fa-icon>
            </button>
        </div>
        <div class="col-sm-4">
            <button class="btn btn-primary btn-sm" (click)="editUser()">
                <fa-icon [icon]="['far', 'edit']"></fa-icon>
            </button>
        </div>
        <div class="col-sm-4">
            <button class="btn btn-danger btn-sm" (click)="deleteUser()">
                <fa-icon [icon]="['far', 'trash-alt']"></fa-icon>
            </button>
        </div>
    </div>
</td>