<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1 style="text-align: center;">
            Login
        </h1>

        <form name="loginForm" #f="ngForm" (ngSubmit)="signIn(f)">
            <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control" required email type="email" ngModel #email="ngModel" name="email"
                    id="email">
            </div>

            <div class="form-group">
                <label for="email">Password</label>
                <input class="form-control" required minlength="6" type="password" ngModel #password="ngModel"
                    name="password" id="password">
            </div>
            <div class="form-group text-center">
                <button [disabled]="f.invalid" class="btn btn-primary">Log in</button>
            </div>
        </form>
    </div>
</div>