<table class="table">
    <caption>{{title}}</caption>
    <tr>
        <th>Nome</th>
        <th>Cognome</th>
        <th>Codice fiscale</th>
        <th>Email</th>
        <th>Telefono</th>
        <th>Provincia</th>
        <th>eta</th>
    </tr>
    <tr *ngFor="let user of users">
        <td>{{user.nome}}</td>
        <td>{{user.cognome}}</td>
        <td>{{user.cf}}</td>
        <td>{{user.mail}}</td>
        <td>{{user.telefono}}</td>
        <td>{{user.provincia}}</td>
        <td>{{user.eta}}</td>
    </tr>
</table>

<app-test></app-test>